[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
pypdf = "*"
huggingface-hub = "*"
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
